body {
  width: 13rem;
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-md) var(--spacing-md);
}

.logo {
  width: 1.2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-md);
}

.menu + .menu {
  margin-top: var(--spacing-lg);
  padding-top: var(--spacing-md);
  border-top: 1px solid #ccc;
}

.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
  margin: 0;
}

.input {
  padding:  var(--spacing-sm);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-md);
}

.btn-primary {
  cursor: pointer;
  padding: var(--spacing-sm) var(--spacing-xs);
  color: white;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-md);
  border: none;
  transition: background-color 0.2s ease-in;
  flex-grow: 1;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

.jira-ticket-container {
  display: flex;
  gap: var(--spacing-md);
  flex-direction: column;
}